*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.container{
  border: 1px solid black;
  width: 370px;
  height: 370px;
  display: flex;
  flex-wrap: wrap;
}

.container > *{
  border: 1px solid gainsboro;
}
.ui > *{
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#color-selector{
  width: 71px;
}

.ui{
  width: 360px;
  display: flex;
  gap: 10px;
}

.resets, .no-resets{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}