*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  gap: 15px;
}
h1{margin-top: 20px;}

section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: min(95vw,700px);  
}

.container{
  border: 3px solid black;
  width: min(95vw,700px);
  height: min(95vw,700px);
  flex-wrap: wrap;
}
.container > *{border: 1px solid gainsboro}
footer{
  font-size: 14px;
  align-items: center;
  gap: 10px;
  position: sticky;
  bottom: 0px;
}

#clear{
  padding: 5px;
}